
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #74cfac;
    
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

.icons  span{
    color:  #ffffff;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px ;
}

nav .nav-logo-container img {
    width: 200px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid #000;
}

/*  */

.blog-promo {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

.blog-promo p {
    margin-top: 50px;
    margin-right: 50px;
}

.image-promo img {
    width: 100%;
}

hr {
    width: 100%;
}

.body-blog {
    width: 75%;
    height: auto;
    margin: 0 auto;
}

.body-blog p {
    line-height: 30px;
    margin: 25px 0;
}

.body-blog h4 {
    font-size: 2.5rem;
}


.newsletter {
    width: 100%;
    height: 250px;
    padding: 0 100px;
    background-color: #e6eaed;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.contact-me {
    width: 30%;
    min-width: 200px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
}

.contact-me a, .write-me a {
    margin-left: 20px;
    border-bottom: 1px solid black;
}

.contact-me p, .write-me p {
    margin-left: 20px;
}

.contact-me img {
    width:100px;
    margin-bottom: 20px;
}

.write-me {
    width: 30%;
    min-width: 200px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
}

.write-me img {
    width:100px;
    margin-bottom: 20px;
}

/*  */

footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 1.2rem;
}

footer p {
    margin: 0;
}