@media (max-width: 980px) {
    .blogs-main-view {
        grid-template-columns: 1fr;
        grid-template-rows:3fr ;
    }

    .blogs-new-img-container {
        grid-row: 2;
    }

    .blogs-new-info-container {
        grid-row: 3;
        grid-column: 1;
    }
    
    .blogs-new-img-container img {
        width: 100%;
        box-sizing: border-box;
    }

    .profile-main-container img {
        width: 100%;
    }
    .blogs-posts-container .post-container {
        max-width: 45%;
    }

    .projects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }

    .profile-main-container .profile-container {
        display: block;
    }
}

@media (max-width: 600px) {
     .blogs-posts-container .post-container {
        max-width: 97%;
    }
    grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
}