body {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100vw;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #74cfac;
    
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

.icons  span{
    color:  #ffffff;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px ;
}

nav .nav-logo-container img {
    width: 200px;
    margin-top: 10px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid #000;
}

.home-container {
    height: 100%;
    background-image: url('../assets/img/Cover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}


.home-container .main-container {
    grid-column: 2;
    display: grid;
    justify-items: center;
    height: 350px;
    margin-top: 200px;
}

.home-container .home-main-text {
    font-size: 4rem;
    font-weight: 700px;
    text-align: center;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 700;
}

button {
    background: #74cfac ;
    width: 110px;
    height: 50px;
    border: none;
    display: grid;
    align-items: center;
}

button a {
    font-weight: 700;
    font-size: 18px;

}

/* Footer */